[2016-01-25 22:53] donny-dont opened #1 "LGTM not triggered till a comment is written"
The status check is not present until a comment is written. Then the status check is triggered. Thinking maybe LGTM should get a pull request notification.

Currently using GHE 2.4.x.

[2016-01-25 22:56] donny-dont opened #2 "LGTM auto comment notifying maintainers"
Currently if you are not familiar with the maintainers for a repository you have to look at the MAINTAINERS file to know who to ping.

Suggestion is for LGTM to respond to a pull request by adding a comment specifying maintainers. This would say who the maintainers are and maybe how many people need to LGTM. Might be useful to not do the comment if the maintainers were already specified in the pul

[2016-01-26 02:00] donny-dont opened #3 "Status check should say how many approvals needed"
It would be great to have something like the following to say how many approvals are required.

[2016-01-27 01:54] kcsasquatch commented on #3
:+1:

[2016-01-27 01:54] kcsasquatch commented on #2
:+1:

[2016-01-27 02:15] donny-dont opened #4 "Notification support"
Would be great if maintainers were notified through Slack when a pull request they need to review is opened.

[2016-01-27 02:16] donny-dont opened #5 "Assign reviewer through git blame"
For larger repositories with lots of moving parts it would make sense to assign reviewers based on the code touched. Potentially using a git blame would be a way to narrow down reviewers.

[2016-01-28 00:00] donny-dont opened #6 "Show all repositories"
Currently if you can't enable a repository it does not show up in the list. However it'd be nice to see what is actually enabled. Maybe have some different visual for the OFF where its red showing you can't add it.

[2016-01-28 00:01] donny-dont opened #7 "Filter repositories"
A search function to filter out repositories would be appreciated for finding repositories among large organizations. Would be similar to whats present in Drone.

[2016-03-07 16:32] LinusU opened #8 "Paid hosting"
Is there any plans on offering paid hosting for private repositories?

[2016-03-14 21:22] tasomaniac opened #9 "Support detecting .lgtm file inside .github folder"
Github has now supporting `.github` folder for these kind of configuration. Issue and PR templates are detected if they are in `.github` folder.

LGTM can do the same too.

[2016-03-14 21:31] bradrydzewski commented on #8
@LinusU thanks for getting in touch. I don't have immediate plans for a paid offering. That being said we provide a very minimal docker image that is easy to setup and requires virtually no maintenance.

You can learn more about self-hosting at:
https://lgtm.co/docs/install/#installation:ee40007639ba1d9861b5cc3e7ade0aef

It is of course possible that we could offer paid plans in the future. I defi

[2016-03-18 13:38] rsalevsky opened #10 "Existing required checks are removed"
When I activate lgtm.co the existing required checks are removed.

[2016-03-21 13:25] MaximilianMeister opened #11 "I gave myself a +1"
this should not be counted IMHO if I am the author of the PR

[2016-03-21 15:42] tboerger commented on #11
Maybe this should be made configurable.

[2016-04-13 18:31] bradrydzewski commented on #1
I'm going to close this since newer versions of GitHub automatically add the status check now

[2016-04-13 18:31] #1 closed

[2016-04-19 04:23] bradrydzewski commented on #11
this can be disabled with `self_approval_off=true` in the `.lgtm` file

[2016-04-19 04:23] #11 closed

[2016-04-19 05:17] MaximilianMeister commented on #11
thanks

[2016-04-19 07:56] bradrydzewski commented on #6
Not all systems provide the information required to implement this visual. Specifically Bitbucket does not include repository permissions in the response. I'm not sure this will ever get ported to Bitbucket (it could)  but until we make that decision we need to keep portability in mind. For this reason we probably wouldn't implement this in the short term

[2016-04-19 08:42] keithamus opened #12 "Ability to customize team name"
It can be a pain for teams with high turnover, or teams with lots of repositories, to maintain the `MAINTAINERS` file. Github and Bitbucket provide "teams" which allow project maintainers to set repository permissions - these teams could be used as a way to determine the maintainers of the code.

As an example, the ChaiJS project (https://github.com/chaijs) has a team for every repository (https:/

[2016-04-19 14:26] bradrydzewski commented on #12
this is already supported. See the bottom of https://lgtm.co/docs/maintainers/

[2016-04-19 15:03] keithamus commented on #12
Oh cool! Thanks @bradrydzewski!

Sadly it looks like I can only have 1 team named `Maintainers` right? I'd like to be able to have different teams from different projects. Is this possible?

[2016-04-19 15:29] bradrydzewski commented on #12
we have a placeholder in the `.lgtm` file to customize the team name but this is not currently being used.

right now the team name is hard-coded:
https://github.com/lgtmco/lgtm/blob/master/remote/github/github.go#L104
https://github.com/lgtmco/lgtm/blob/master/remote/remote.go#L24

if the above functions are altered to pass the team name we could source the team name from the `.lgtm` file like th

[2016-04-19 15:42] bradrydzewski commented on #5
We should define the exact behavior. Would this be used to filter the list of maintainers for notification purposes (#2 and #4)? or should we use this in lieu of a MAINTAINERS file?

[2016-04-19 15:43] keithamus commented on #12
Great, thanks @bradrydzewski. I'll put some time into making a PR some point this week.

[2016-04-19 16:02] bradrydzewski commented on #9
I recommend altering the following function [1] to accept a list of files:

[code]

This function would then return the first file in the list it is able to successfully download. We could then specify [2] multiple configuration files paths including in the .github directory:

[code]

This change shouldn't be too difficult, however, I have other priorities and am therefore marking this issue as he

[2016-04-19 16:03] dgryski opened #13 "LICENSE file name is misspelled"

[2016-04-19 16:24] bradrydzewski commented on #13
ha, good catch! fixed

[2016-04-19 16:24] #13 closed

[2016-04-19 17:04] bradrydzewski opened #14 "use gin-location"
refactor to use the gin-location middleware instead of the custom httputil package:
https://github.com/drone/gin-location

[2016-04-20 08:22] bradrydzewski opened #15 "task list integration"
one really interesting feature would be to analyze markdown [task lists](https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments) and to only update the status once the approvals are received and all tasks are completed.

this was something I considered a few months ago but at the time GitHub did not trigger hooks when comments were updated. This means updating the todo list wouldn't

[2016-05-10 22:28] ljharb opened #19 "Github usernames are case-insensitive"
https://github.com/airbnb/enzyme/pull/342#issuecomment-218202414 wasn't recognized because the capitalization on the username is different https://github.com/airbnb/enzyme/blob/master/MAINTAINERS#L4

Github usernames are (and should be) case-insensitive.

[2016-05-11 05:22] ljharb commented on #19
I'm not familiar with go, but https://github.com/lgtmco/lgtm/blob/66ef421232303b73c2f6979c66a66f5a500b7b90/web/hook.go#L112-L116 implies to me that all usernames should be lowercased as soon as they're received from github, to avoid having to do it in a multitude of places?

[2016-05-16 19:50] jkernech commented on #19
@ljharb your PR is great and really usefull (I faced the same issue) but you should have made another PR for the change on the default approvals number. It should be splitted to ensure a separation of concerns.

[2016-05-16 19:51] jkernech commented on #19
FYI I have made a PR to made the number of approvals configurable via env vars #18

[2016-05-27 18:05] benlangfeld commented on #1
We're still seeing exactly this issue. Is the expectation that the status be required to be passing for merges for this to work? We'd like to keep LGTM as advisory at this point, but we do want people merging PRs to be aware that approval was not yet received.

[2016-05-27 18:07] bradrydzewski commented on #1
@benlangfeld are you using GitHub Enterprise? Because this is not the case with the latest version of GitHub. You can see, for example, GitHub has automatically added the status check to the below pull request which has no comments yet:
https://github.com/drone-plugins/drone-containership/pull/9

[2016-05-27 18:08] benlangfeld commented on #1
We're using public GitHub and do not see that behaviour; it is broken for us.

[2016-05-27 18:10] bradrydzewski commented on #1
Attached a screenshot of what I see below.

@benlangfeld the status is added by GitHub automatically and LGTM is not involved at all. GitHub automatically populates all required status checks when the PR is created. If this isn't happening for your repository I recommend contacting GitHub support.

---

<img width="595" alt="screen shot 2016-05-27 at 11 08 45 am" src="https://cloud.githubuserconte

[2016-05-27 18:11] benlangfeld commented on #1
Thanks @bradrydzewski, I will take it up with Github :) /cc @bklang

[2016-05-27 18:13] bradrydzewski commented on #1
thanks! feel free to post back your conversation with GitHub support so we can better understand the root cause, and perhaps why we both see two different behaviors! I wish I could be more help, but in this case GitHub is a bit of a black box :)

[2016-05-27 18:27] bklang commented on #1
This just happened to me again using public Github (with a private repo). I'll drop a screenshot here as documentation:

<img width="534" alt="schermata 2016-05-27 alle 2 25 53 pm" src="https://cloud.githubusercontent.com/assets/167131/15617462/11ff1af2-2417-11e6-895d-3b19f96ab471.png">

Note that the LGTM check isn't visible, but it appears as soon as any comment is made on the PR.

[2016-05-27 18:33] donny-dont commented on #1
Check the installed hooks? Maybe something didn't get enabled

[2016-05-27 18:35] bklang commented on #1
<img width="765" alt="schermata 2016-05-27 alle 2 34 28 pm" src="https://cloud.githubusercontent.com/assets/167131/15617721/240deed4-2418-11e6-82be-d92739ee1e9d.png">

The original configured webhook was only configured to be called when a comment was created/edited/deleted. I changed it to send All events, but the broken behavior persists.

[2016-05-27 18:42] bradrydzewski commented on #1
@bklang @donny-dont

LGTM does not receive a hook until the first comment is made. So this isn't really a question of whether or not LGTM hooks are working properly because LGTM is not involved in the process yet, until that first comment is received. The question is why GitHub is not automatically adding the required status check to your pull request, but is adding it to mine (based on my above s

[2016-05-27 18:45] bradrydzewski commented on #1
Note that I'm not claiming there isn't something to be improved here in LGTM. I'm just not able to reproduce with my own repositories. I can clearly see, based on the two screenshots, that we are experiencing different behavior so I'm not saying there isn't any issue.

I think it would be good to understand what is happening here in GitHub before we try to fix something in LGTM.

[2016-06-01 17:45] benhutchins opened #20 "Support OWNERS file"
While a `MAINTAINERS` is good, this doesn't work very well for all projects. Many projects therefore use `OWNERS` files, which sometimes works by being placed in any folder to define the owners of that portion of a codebase or by using pathing within an `OWNERS` file to specify which paths they own.

https://github.com/bkeepers/OWNERS implements a pathing based top-level `OWNERS` file.

Realistica

[2016-06-01 19:33] orangejulius opened #21 "LGTM check is applied to all PRs opened before the check was set up"
Hi!
First of all, thanks for LGTM, it's awesome!

One minor issue I noticed just after installing LGTM on a repository that has been active for some time: if you view the [closed pull request page](https://github.com/pelias/wof-admin-lookup/pulls?q=is%3Apr+is%3Aclosed) all previous PRs that were shown as passing with a comforting green checkmark are now shown with the incomplete yellow circle, whi

[2016-06-01 19:39] bradrydzewski commented on #21
I think the question is -- what is the desired behavior? Should the approval status be marked as passing if the pull request is closed? or failed? or removed all together? What if the PR is re-opened?

I use cla assist (https://cla-assistant.io/) for my projects and if I close a pull request where the CLA has not been signed we see a similar behavior, where the closed pull request has pending stat

[2016-06-01 19:47] bradrydzewski commented on #20
I would be open to adding the following fields to the `.lgtm` file:

[code]

The `from` field would suggest an alternate repository name from which to fetch the maintainers file. The `path` file would suggest an alternate path / filename.

Please note that I'm not personally fulfilling feature requests for the project, however, if you are willing to send a pull request based on the above recommend

[2016-06-01 19:52] bradrydzewski commented on #20
Sorry I forget to comment on this part. Please see the following section of the README
https://github.com/lgtmco/lgtm#development

If you are looking to extend LGTM to notify maintainers based on file type and matching patterns you might want to fork the project (feel free to rebrand as well). I published the source mostly so others could fork and extend as opposed to growing the LGTM feature set.

[2016-06-01 20:00] orangejulius commented on #21
Yeah that's a good point. For LGTM it seems like the status for PR as a whole should be the same before and after the LGTM approver is added. But for CLA, maybe it makes sense for all the previous PRs to fail so that the CLA can at least be signed after the fact. More signs that point to this being something only Github can help with.

[2016-06-02 18:35] benlangfeld commented on #1
@bradrydzewski The response from Github:

[2016-06-02 18:43] bradrydzewski commented on #1
@benlangfeld thanks for that information it is indeed helpful. I configured a new repository with LGTM and was able to verify the `approvals/lgtm` status check is configured as required, by default. I then disabled / re-enabled to verify the status check was still labeled as required.

Is is possible someone changed this behavior manually for your repository to make the check optional?

<img width

[2016-06-02 19:13] benlangfeld commented on #1
Yes, we did @bradrydzewski. We actively want the check to be optional, per https://github.com/lgtmco/lgtm/issues/1#issuecomment-222214740. We have a large team we're trying to train to do better code review, but it needs to be a gradual ramp up. Right now LGTM is invisible, but we can't yet enforce it.

[2016-06-02 19:21] bradrydzewski commented on #1
@benlangfeld I definitely understand your use case, however, integrating with protected branches and **enforcing** approvals is the software's primary purpose. The software is not intended to be used with optional approvals. I would therefore recommend forking the project and altering the behavior to meet your teams individual needs.

[2016-06-02 19:34] benlangfeld commented on #1
If we contributed Rachel / @donny-dont's suggestion, would that be included upstream? It seems like the current implementation is simply the minimum that satisfies the original use case, and while this would not have any user-facing difference for that original use case, it would fairly cleanly add support for mine / @donny-dont's.

[2016-06-02 19:37] bradrydzewski commented on #1
@benlangfeld sure, once you have an initial version feel free to submit a pull request for review. cheers!

[2016-06-02 20:31] donny-dont commented on #1
We updated our GHE so were pretty good to go on this.

[2016-06-08 22:31] frapposelli opened #22 "When rebasing an accepted PR lgtm requires another webhook call to update"
Steps to reproduce:

- Open a PR
- LGTM it (status check turns green)
- Rebase and (force) push to fork
- Status check is reset
- Add a comment (not necessary a LGTM)
- Status check turns green again.

What I'd like to happen:

- Open a PR
- LGTM it (status check turns green)
- Rebase and (force) push to fork
- Status check is still green

[2016-06-08 23:01] bradrydzewski commented on #22
At first glance I'm guessing GitHub must reset the status checks because LGTM doesn't receive `pull_request` hooks, only `issue` hooks. Will have to dig deeper though to fully understand

[2016-06-14 22:06] bradrydzewski commented on #21
I agree this probably needs to be handled at the GitHub layer, and will close this issue accordingly. The good news is GitHub is still improving this feature every few weeks (as I see the protected branch behavior constantly changing) so hopefully it is something they can address. I'll pass along the feedback.

[2016-06-14 22:06] #21 closed

[2016-06-21 04:26] tlockney opened #23 "Should link to Github repo from lgtm.co"
I was showing a coworker lgtm.co when he pointed out he couldn't find the source, which oddly hadn't occured to me. I was able to find it after going a quick Github search, but we realized there was no obvious link from the website. For those of us curious to understand the code behind the system, providing a more obvious link (assuming there's not one we just missed) would be great.

[2016-07-04 18:17] tobiasKaminsky commented on #11
@bradrydzewski this is not working for us:
https://github.com/nextcloud/server/issues/238
We tried it in https://github.com/nextcloud/server/pull/242

[2016-07-05 15:39] eyelidlessness opened #26 "Broken link on docs overview"
1. Go to <https://lgtm.co/docs/overview/> (linked from README)
2. Click logo in header

The link goes to <http://docs.lgtm.co/docs/> which appears to be the wrong domain

[2016-07-06 09:22] samber opened #28 "Pinging maintainers when a new PR is created"
It would be awesome to add a comment with maintainers username, to ping them after PR creation.

[2016-07-07 05:55] bradrydzewski commented on #28
definitely agree! let's track this under #4

I have some stubs in place in the codebase but just haven't had the change to implement any notification providers yet.

[2016-07-07 05:55] #28 closed

[2016-07-07 08:16] samber commented on #4
I don't know the work that have been made on this, but I would suggest that notifying through Hubot would allow to connect to every Slack-like providers !

[2016-07-07 18:00] kphelps opened #29 "Overrides existing protected branch settings"
Before enabling LGTM, I had "Include Administrators" enabled and other status checks enabled on my protected branch. After enabling LGTM on the repo, "Include Administrators" was disabled and my other status check was disabled, leaving only `approvals/lgtm` enabled.

[2016-07-07 18:58] bradrydzewski commented on #29
tracking under #10

[2016-07-07 18:58] #29 closed

[2016-07-07 19:01] bradrydzewski commented on #29
because the github protected branches API is unstable and in developer preview, the API behavior has changed significantly since last November. Previously the PATCH didn't replace or overwrite existing information. The API endpoint has now been completely replaced as of last week [1] and LGTM will need to be adjusted accordingly

[1] https://developer.github.com/changes/2016-06-27-protected-branch

[2016-07-08 06:46] bradrydzewski commented on #4
There hasn't been much work one notifications. I have created the interface to define how lgtm can invoke notification services: https://github.com/lgtmco/lgtm/blob/master/notifier/sender.go

I envision having a small number of built-in notification capabilities such as:
- github notification. comment on the pull request and @ mention the reviewers
- http webhook notification

The http webhook sho

[2016-07-10 22:05] orangejulius opened #30 "Trouble with pattern match from examples"
Hello,
We've been using LGTM with the [Pelias](http://github.com/pelias/pelias/) project for a few weeks, and overall it's been a nice way to handle signoff on our PRs, so thank you.

There's one thing we can't figure out though: we put `pattern = "(?i):shipit:|:\\+1:|LGTM"` in our .lgtm file as shown in the [customization](https://lgtm.co/docs/customize/) docs, and it works great for registering

[2016-07-10 22:46] bradrydzewski commented on #30
@orangejulius please see the faq which has a few different items for troubleshooting https://lgtm.co/docs/faq/ ... specifically checking the LGTM response to the GitHub hook. That should provide additional information for debugging. Note also that LGTM can be considered deterministic with the exception that makes API calls to GitHub. So I would not expect inconsistent behavior unless there were is

[2016-07-10 23:35] orangejulius commented on #30
Hey, no worries, I understand all about being busy. I'm sorry my comment made it look like I just wanted free support. I care much less about that than helping get a possible bug fixed for everyone.

Anyways I dug into the webhook responses for https://github.com/pelias/whosonfirst/pull/105 since they are still available. I included a quick summary of events and then the full webhook bodies (I thi

[2016-07-10 23:56] bradrydzewski commented on #30
sorry about that. I had edited the above comment with an apology. I've been feeling major open source burnout this weekend. No excuse though for me not being polite.

if this happens again can you do me a favor and re-submit the hook from the GitHub user interface? LGTM pulls the full list of comments from GitHub and ignores the payload it receives. Maybe GitHub serves some API calls from an event

[2016-07-11 21:40] bdougherty opened #31 "Accept reactions as an approval"
Would be cool to support reactions to the initial PR comment instead of adding a new comment.

https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments

[2016-07-11 21:48] bradrydzewski commented on #31
github added a preview for the new reactions API not too long ago:
https://developer.github.com/changes/2016-05-12-reactions-api-preview/

I'm not actively adding new features to lgtm (it is not abandoned, I just have some larger and more demanding open source projects I need to focus on right now) but am open to a pull request for this specific feature. The pull request would probably have to inc

[2016-07-11 22:36] bradrydzewski commented on #31
note that we also need to see if GitHub provides a hook for reactions. Right now I don't see any documentation that reactions trigger a hook which would be required to notify LGTM
https://developer.github.com/v3/activity/events/types/

I didn't look exhaustively but will do some more research and post back here.

[2016-07-12 16:43] bradrydzewski opened #32 "Pluggable approval algorithm"
I've gotten many questions to make alterations to the approval process and include multiple algorithms. I recognize there is not a one-size-fits all approval process. That being said, I am not interested in hosting / supporting / maintaining multiple algorithms in the codebase that would, in all likelihood, only be used by the team that contributed them.

I do believe we can provide some sort of m

[2016-07-12 16:44] bradrydzewski commented on #20
I'm closing this in favor of pluggable algorithms
https://github.com/lgtmco/lgtm/issues/32

I would prefer to expose the ability to delegate custom approval workflows to a plugin / webhook as opposed to including varying approval workflows / algorithms in the main codebase.

[2016-07-12 16:44] #20 closed

[2016-07-12 18:28] bradrydzewski commented on #6
I definitely appreciate where this issue is coming from. I just don't think it will get implemented due to lack of uniformity in permission data across providers when fetching the repository list. In the interest of keeping this issue tracker manageable I'm going to close.

[2016-07-12 18:28] #6 closed

[2016-07-14 15:44] patrickdappollonio opened #33 "Prevent LGTMing myself"
Hello,

I know that the maintainer list is indeed the source of truth when accepting LGTMs messages. I work in a large team where we want other people to review our job, even with one approval (one LGTM). If I set it to true, a rogue dev can LGTM himself and merge after that.

Is there any option to disable LGTMing yourself?

[2016-07-14 15:46] bradrydzewski commented on #33
yes, in the `.lgtm` file you can add `self_approval_off = true`

[2016-07-14 15:46] #33 closed

[2016-07-14 16:06] patrickdappollonio commented on #33
Thanks! Should I assume this also works for the self-hosted version? I couldn't find any references in the docs.

[2016-07-14 17:15] bradrydzewski commented on #33
yep! self hosted and hosted service share the same code / docker image

[2016-07-15 03:10] orangejulius commented on #30
Hey @bradrydzewski,
Thanks for the apology, that's much appreciated. But also don't worry about it, open source is hard.

I have a new PR that can serve as an example of things breaking: https://github.com/pelias/pelias-doc/pull/132

I tried resubmitting the webhook a couple times several minutes after the last comment went in, but there was no effect. How else can I help you debug this?

[2016-07-18 01:34] #26 closed

[2016-07-18 01:37] bradrydzewski commented on #30
@orangejulius sorry for delayed reply. I'm planning on jumping back in the LGTM code next week since GitHub is introducing breaking changes to their API and LGTM needs updated. While I'm in the code I'm planning to alter the payload response and echo back the list of comments including whether or not the comment matched (true / false). Hopefully this will help shed some light.

Hang in there and I

[2016-07-18 07:35] strk commented on #23
I've just been hit by the same problem. Had to guess where the source was...

[2016-07-25 17:26] mspiegel commented on #32
What approval algorithms would users like to see? I know of the current default algorithm in LGTM, and the "org" approval algorithm from https://github.com/lgtmco/lgtm/pull/35.

[2016-07-25 17:41] mspiegel commented on #32
Sorry I didn't read https://github.com/lgtmco/lgtm/issues/20. Now I understand this feature request. One argument in favor of multiple approval algorithms in the codebase is that it increases developer participation in the LGTM project. It would be reasonable to include multiple implementations and then in the future delete these implementations if they contain bugs and are not maintained by their

[2016-07-25 17:47] bradrydzewski commented on #32
@mspiegel while I definitely understand this argument, I did not necessarily post the source code with the intention of growing a community around this repository. This is somewhat addressed in the README

I understand this might be a bit unconventional since most authors release a repository with the intention of growing a community around it. The difference here is that I have some larger commun

[2016-07-25 17:51] bradrydzewski commented on #32
overall this hasn't been heavily requested, but each time it is requested the algorithm is never the same. Some examples that come to mind are:
1.  the ability to only require an LGTM once per branch, and once that branch is approved to allow all subsequent PRs to get merged
2. the ability to require the individual that previously edited the code (via git blame) to review and approve changes
3. to

[2016-07-25 21:43] jlgale opened #36 "Auto-merge PRs"
When a PR passes all checks, it would be nice if LGTM would perform the merge automatically. We use Github's squash merges, so we would want an option to for that.

[2016-07-26 15:01] jonbodner commented on #36
I have code to do this on my fork of LGTM. I have a PR to merge that code into the main repo.

[2016-07-27 19:04] mspiegel commented on #32
I see your point and understand your concerns. @jonbodner and I are going to fork this repository and maintain additional features in the fork. GitHub disables some features (most notably searching) from repositories that are forks of another repository. So we're going to create a new GitHub repository and rebrand the project. We'll make sure to include a prominent note in the README file to this

[2016-07-28 15:55] bootstraponline commented on #32
I think pluggable approval makes sense. This would allow GitHub teams support so we don't have to hard code the maintainers in every repo.

[2016-07-28 16:00] docwhat opened #37 "Turn off "BETA" on docker image(s)?"
I'm trying out LGTM self-hosted and I was wondering...

Since `docker pull lgtm/lgtm:1.0.0` is a thing, should it still have the BETA label?

[2016-08-01 15:09] patrickdappollonio commented on #33
So I tried and double check in Github Enterprise and it does not work. [I was able to LGTM myself, twice](https://cloud.githubusercontent.com/assets/930925/17298521/7f8eba44-57c7-11e6-8645-ecfdeff24162.png). My `.lgtm` file looks like this:

[code]

[2016-08-08 10:45] sukki07 opened #39 "checks not done completely , when a pull request is synchronized"
Scenario
create a pull request , let two approvers approve it so it is ready to merge.
Now add another commit to it , the status goes back to pending again(which is correct)
but now if any user comments anything on it , status moves to mergeable (which is incorrect , according to me , since it should again require two approvals ).

The issue is arising , since right now we call getApprovals whenev

[2016-08-08 13:31] bradrydzewski commented on #39
This is the intended behavior. Feel free to fork and change to meet your exact needs

[2016-08-08 13:31] #39 closed

[2016-08-09 00:34] jonbodner commented on #39
I have a fork that fixes this behavior: https://github.com/lgtmeow/lgtmeow

[2016-08-12 14:32] BrianHarboldt opened #40 "LGTM comment followed by commit+comment results in passing status"
Once a PR is signed off, additional commits can be added and any comment made on the PR will trigger the PR as signed off again.

--

1) Commits made, PR opened:
![image](https://cloud.githubusercontent.com/assets/6555544/17625324/fbd58aa2-606d-11e6-90bf-10c7dac2d48b.png)
2) Maintainer signs off on PR:
![image](https://cloud.githubusercontent.com/assets/6555544/17625347/18ca025a-606e-11e6-8c26-ce1

[2016-08-12 14:35] drusellers commented on #40
:+1:

[2016-08-12 14:37] jonbodner commented on #40
If you are self-hosting, this is fixed on our fork at https://github.com/lgtmeow/lgtmeow

[2016-08-15 17:29] dlorenc opened #41 "https://lgtm.co appears to be down"
Sorry if this is the wrong place to open the issue, but the webpage appears down to me. Also our github webooks aren't working.

[2016-08-15 17:38] bradrydzewski commented on #41
back up

[2016-08-15 17:38] #41 closed

[2016-08-24 00:15] baillieny opened #42 "Error when using mysql driver"
Is mysql supported yet? When trying to use mysql I get the following error

time="2016-08-24T00:08:44Z" level=error msg="sql: Scan error on column index 0: unsupported Scan, storing driver.Value type []uint8 into type *time.Time"
time="2016-08-24T00:08:44Z" level=fatal msg="migration failed"

Thanks for your help

[2016-08-24 00:23] baillieny commented on #42
User error :)
Needed to add ?parseTime=true to the connection string

[2016-08-24 00:23] #42 closed

[2016-08-26 20:11] marcinwyszynski opened #43 "datastore.go missing postgres driver"
The driver is not registered since it's not imported. Importing `github.com/lib/pq` should do the trick.

[2016-08-26 20:13] bradrydzewski commented on #43
postgres is not a supported driver. Even if we imported the postgres driver the sql queries and database migrations would fail, since postgres is not compatible with sqlite or mysql syntax

[2016-08-26 20:13] #43 closed

[2016-08-26 21:55] marcinwyszynski commented on #43
Wouldn't it then make sense to remove all mentions of `postgres` from the code?

[2016-08-26 22:03] bradrydzewski commented on #43
Postgres is mentioned in one line if code due to copy  / paste. References in `/vendor` cannot be removed because those references exist in our project dependencies. Feel free to send a PR to remove the reference in the case statement in `database.go` if you feel strongly about it

[2016-08-29 08:52] marcinwyszynski commented on #3
My team is complaining about that, too. I'll happily help.

[2016-08-29 14:08] marcinwyszynski opened #45 "GitHub allows editing other users' comments"
I'm wondering if the premise of basing approvals on the content of comments is a good idea. If lgtm.co is supposed to be something more than an honor system (for which you don't need a tool TBH), then being able to replace a comment like `You can push it over my cold dead body` into `LGTM mate, well done!` kind of defeats the purpose.

I was designing a similar system, and my idea was to create a

[2016-08-29 17:01] bradrydzewski commented on #45
It is true that project owners can edit comments, but project owners can also override protected branches and force merge pull requests. I'm not sure it is within the scope of lgtm to prevent project owners from sabotaging their own project approval process. The primary goal for lgtm is to help project owners delegate approvals to community members or individuals with limited repository access, an

[2016-08-29 17:01] #45 closed

[2016-08-29 18:42] marcinwyszynski commented on #45
Fair point.

[2016-08-31 11:36] marcinwyszynski commented on #3
This is working now.

![screen shot 2016-08-31 at 13 34 07](https://cloud.githubusercontent.com/assets/571786/18127284/ba78e54c-6f7f-11e6-9828-ec5ea8524b93.png)

The only other thing I think is worth considering is sending this status also on PR open event, not just on comments.

[2016-08-31 17:45] donny-dont commented on #3
@marcinwyszynski great work! I think it would be great to have the status be there when its opened as well.

[2016-08-31 20:15] marcinwyszynski commented on #3
@donny-dont I'll look into it.

[2016-09-02 12:24] aaronjensen commented on #22
I just pushed a new commit, didn't even rebase and it didn't update status until I left a comment. This was on https://github.com/flycheck/flycheck/pull/1063

[2016-09-05 20:09] bweston92 opened #48 "Gitlab support."
Support for Gitlab would be great on the self hosted version.

[2016-09-05 21:16] bradrydzewski commented on #48
unfortunately this is not something I will have time to implement, however, I'm happy to accept community contributions for additional integrations with systems like GitLab or Bitbucket.

[2016-09-05 21:20] bradrydzewski commented on #37
closed by https://github.com/lgtmco/lgtm/commit/d550b7b6f933acd9ec9442bea019f594316a4559

[2016-09-05 21:20] #37 closed

[2016-09-07 15:30] nicolasbock opened #49 "Add 'disapprovals'"
# Use Scenario
A reviewer is unhappy with the current state of the PR. They express they disapproval with a `-1`.

# New Behavior
The `lgtm` approver counts all approvals as `+1` and all disapprovals as `-1`, tallies them up, and only if their sum is greater than a configurable threshold is the PR approved.

# Requirements
Configurable set of regexpressions for recognized disapprovals.

[2016-09-07 15:53] bradrydzewski commented on #49
just wanted to note that we should probably make the disapproval pattern configurable:

[code]

[2016-09-07 15:59] nicolasbock commented on #49
The option naming is inconsistent at this point (`approvals` means something completely different than `disapprovals`). A more consistent approach would be:

[code]

[2016-09-08 07:18] tboerger commented on #49
Naming it `approval_pattern` and `disapproval_pattern` makes sense for me, but than we need to fallback to the old behavior to avoid breaking installs.

[2016-09-08 07:21] ljharb commented on #49
Probably `disapproval_threshold` would make sense too? That way people could set it to `0` to disable, or `2` to require 2 -1s before something's blocked, etc

[2016-09-08 07:30] bradrydzewski commented on #49
while I agree, unfortunately this would be a breaking change for projects using hosted [lgtm.co](https://lgtm.co). I would probably prefer a non-uniform solution for the initial implementation, and we can address naming consistency / file format changes in a separate pull request.

@ljharb I hadn't thought of this, but seems to make sense. If too many people dislike the pull request drone refuses

[2016-09-08 07:39] ljharb commented on #49
Right - `disapproval_threshold` would default to `0` which means it can't be disapproved.

[2016-09-08 07:40] ljharb commented on #49
Also you could totally do `approval_threshold || approvals` and `approval_pattern || pattern` for now to make it semver-minor, and in the next semver-major, drop the `||` fallbacks.

[2016-09-08 08:12] bradrydzewski commented on #49
@ljharb we can definitely update the naming conventions and map the old file values. If we adjust the file properties we could also consider nesting. The file (with all options) would then look something like this:

[code]

[2016-09-08 08:15] ljharb commented on #49
That sounds like a great idea! Should `enabled` and `disable_self` both be on both `approval` and `disapproval`? I'd think so.

Separately, what happens if the approval threshold is set to `0`? I'd assume setting either threshold to `0` would also set that category's "enabled" to `false`.

[2016-09-08 08:18] ljharb commented on #49
It would also be nice if "maintainers" defaulted to, or had the option to be set to, "whoever github has set up with write privileges"

[2016-09-08 08:19] bradrydzewski commented on #49
yep makes sense. I updated the spec above

unfortunately the zero value of an integer is 0 in Go, which means we can't easily differentiate between 0 and unset. So if something is 0 we assume it is just unset

[2016-09-08 08:19] ljharb commented on #49
Too bad, that sounds like a serious flaw in Go :-/

[2016-09-08 08:28] bradrydzewski commented on #49
the workaround in Go is usually to create a custom type (called `NullInt` for example) that wraps an integer and implements a custom unmarshaler for that type. So it is possible but somewhat annoying to implement https://godoc.org/github.com/BurntSushi/toml#Unmarshaler

yep, we do this today. When we encounter a configuration option that has a zero value (empty string, 0 integer) we use the defaul

[2016-09-08 08:31] ljharb commented on #49
hmm, that's not been my experience - when enabling LGTM on a new repo that lacks a config file, nobody's able to approve anything :-/

[2016-09-13 22:07] bradynpoulsen commented on #12
+1 Is this being completed or could it use some help?

[2016-09-13 22:09] bradrydzewski commented on #12
@bradynpoulsen help wanted :)

[2016-09-13 22:15] bradynpoulsen commented on #12
@bradrydzewski Has this format been adopted? https://github.com/lgtmco/lgtm/issues/49#issuecomment-245525248

I'm not too familiar with the organization of the project, where do I find and example at getting values from the config (or the default if not configured)?

[2016-09-13 23:08] bradynpoulsen commented on #12
Here is a pull request that is working on this https://github.com/lgtmco/lgtm/pull/50

[2016-09-14 16:27] Idrinth commented on #19
at the very least it should be made clear in the documentation, that this doesn't follow the usual case-insensitive approach.

[2016-09-14 17:18] ljharb commented on #19
At a minimum yes, but this is a pretty important inconsistency that should ideally be fixed :-/

[2016-09-17 20:55] MorrisJobke opened #51 "Integrate with GitHub review comments"
* having a review with an approval and "LGTM" as comment doesn't count

See https://github.com/nextcloud/server/pull/1334#pullrequestreview-19656 (we have 2 needed approvals and only one is recognized in this PR)

[2016-11-22 18:54] Dattaya opened #53 "LGTM on non default branch"
Sorry for a dumb question, but I couldn't make LGTM work with a `dev` branch that is not a default branch. I made it protected:

![image](https://cloud.githubusercontent.com/assets/387256/20537030/2ee91e96-b0f4-11e6-9822-1418377fa241.png)

and pushed `.lgtm` and `MAINTAINERS` files into the `master`.
Once I switch the base branch of a PR to `master`, everything's fine:

![image](https://cloud.gith

[2016-11-22 19:07] Dattaya commented on #53
Don't know exactly why, but now it works:

![image](https://cloud.githubusercontent.com/assets/387256/20537908/a2378ae2-b0f7-11e6-80d1-fc436ea9da95.png)

[2016-11-22 19:07] #53 closed

[2016-11-25 17:12] #8 closed

[2016-11-25 17:12] #15 closed

[2016-11-25 17:12] #14 closed

[2016-12-05 21:58] bkleef opened #55 "Support for gogs/gitea"
Is this on the roadmap? Keep up the good work!

[2016-12-09 18:27] albertsj1 opened #56 "lgtm discontinued?"
What's the deal?  I see 'ARCHIVE' in the project description and every other project in the org says 'DEPRECATED'.  lgtm.co says the service is discontinued.
Did I miss an announcement somewhere that LGTM is dead?  Lots of people use LGTM.  It would be nice to have some type of announcement explaining what's going on.

Thanks

[2016-12-09 18:34] bradrydzewski commented on #56
It was sold. There are however forks being actively maintained. cc @tboerger

[2016-12-09 18:44] tboerger commented on #56
Currently we are maintaining a version, but I don't know how long we will continue that.

[2016-12-13 16:49] waldyrious commented on #56
Do any of the forks provide the github integration like lgtm.co did? If not, is there something that people can contribute to make it possible?

[2016-12-13 17:12] albertsj1 commented on #56
Thank you for the update.

[2017-01-16 12:31] #48 closed

[2017-03-02 23:48] strawd commented on #56
Are the installation docs and such still hosted anywhere? The pointers in the README just lead to the "discontinued" page.

[2017-03-03 12:49] tboerger commented on #56
@strawd currently we got a fork of the docs within our go-gitea github org, but that will be dropped sooner or later

[2017-05-27 17:43] Aladdin-ADD opened #57 "[js] Error: Assigning to rvalue"
[code]
lgtm cause an error: `Assigning to rvalue`, but I'm feeling good.

[2017-08-14 15:04] hajimehoshi opened #58 "Q: How can I remove the approval check on a PR?"
The PR still requires the check:

[![Screenshot from Gyazo](https://gyazo.com/2f770c50e1ee2d69baa5c30b32e1b318/raw)](https://gyazo.com/2f770c50e1ee2d69baa5c30b32e1b318)

The integration was removed a long time ago.